<!--<div class="widget_settings_block__item_field" id="WidgetCopypasteLeads_Caption">-->
<!--    <div class="widget_settings_block__title_field" title="">-->
<!--        Выбор пользователя:-->
<!--    </div>-->
<!--    <div class="widget_settings_block__input_field">-->
<!--        <a href="" class="usersLink" style="-->
<!--            font-size: 16px;-->
<!--            text-decoration: none;-->
<!--            z-index: 3;-->
<!--            color: #6b6d72;-->
<!--        ">-->
<!--            Участники: 0-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->
