<script
    class="amocrm_oauth_doc"
    charset="utf-8"
    data-client-id="{data-client-id}"
    data-name="{WIDGET_DATA_NAME}"
    data-description="{WIDGET_DATA_DESCRIPTION}"
    data-redirect_uri="{data-redirect_uri}"
    data-secrets_uri="{data-secrets_uri}"
    data-logo="{data-logo}"
    data-scopes="crm,notifications"
    data-title="Авторизация виджета через amoCRM"
    data-compact="false"
    data-class-name="widget-btn-oauth"
    data-color="default"
    data-state="state"
    data-mode="popup"
    src="{WEB_WIDGET_URL}js/button.js">
</script>
